{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<style>
</style>

<section>

  <div class="body-wrapper h-100" >
    <div class="container-fluid" >

      <div class="row mt-5 " >

        {% for e in all_exams %}

        <div class="col-md-4 mt-4">
          <div class="card " style="box-shadow: 0 10px 10px rgb(94, 143, 150), 0 6px 20px 0 rgb(94, 143, 150);background-color: rgb(231, 247, 247);">
            <div class="card-body">
              <div class="row">
                <div class="col-md-9 ">
                  <a class="stretched-link" href=""  >
                    <h5 class="card-title fw-semibold text-dark"><b>{{e.exam_name}}</b></h5>
                    <h6>Scheduled Date : {{e.exam_date}}</h6>
                    <h6>No of questions : {{e.no_of_questions}}</h6>
                    <h6>Duration of Exam : {{e.duration}} min</h6>
                    <h6>No of students attempted : {{e.students}} </h6>
                  </a>
                </div>
                <div class="col">
                  <a href="">
                    <i class="fas fa-list-ul text-dark " style="font-size: 2em; "></i>             
                  </a>

                </div>
              </div>
              
            </div>
          </div>
        </div>

        {% endfor %}
      
      </div>

</section>



<script src="http://www.w3.org/2000/svg" src="https://www.gstatic.com/charts/loader.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

{% endblock %}