{% extends 'adminbase.html' %}
{% load static %}
{% block content %}
<style>
  .card.bg-white:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
  }

  .card-title:hover {
    color: #007bff; /* Change text color of title on hover */
    text-decoration: none; /* Remove underline on hover */
  }
</style>
<section>

  <div class="body-wrapper h-100" >
    <div class="container-fluid" >
      {% for f in feedbacks %}
      <div class="row mt-1 " >
          <div class="card " style="box-shadow: 0 10px 10px rgb(94, 143, 150), 0 6px 20px 0 rgb(94, 143, 150);
          background-color: rgb(231, 247, 247);">
            <div class="card-body">
              <div class="row">
                <div class="col-md-9 ">
                    <h5 class="card-title fw-semibold text-dark"><b>{{f.exam.exam_name}}</b></h5>
                    <h6 class="text-dark">
                      {% if f.student.image %}
                        <img width="35" height="35" class="rounded-circle " src="{{ f.student.image.url }}" alt="" style="border: 2px solid rgb(30, 96, 116);">
                        {% else %}
                        <img src="{% static 'registration_login/images/default.jpg' %}" alt="" width="35" height="35" class="rounded-circle"style="border: 2px solid rgb(30, 96, 116);">
                        {% endif %}
                      <b>{{f.student.name}}</b></h6>
                      <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col"><h6 class="text-dark"><i>"{{f.feedback}}"</i></h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col  text-right">
                  <h6 class="text-dark"><b>{{f.date}}</b></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
       

</section>



<script src="http://www.w3.org/2000/svg" src="https://www.gstatic.com/charts/loader.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>



{% endblock %}